<div>
  <div>
    <h4>Details</h4>
    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-primary active" (click)="test()">
        <input type="radio" name="collections-options" id="option1" autocomplete="off"> Entries
      </label>
      <label class="btn btn-primary" data-toggle="button" (click)="test()">
        <input type="radio" name="collections-options" id="option2" autocomplete="off"> Outgoing relations
      </label>
      <label class="btn btn-primary" data-toggle="button" (click)="test()">
        <input type="radio" name="collections-options" id="option2" autocomplete="off"> Incoming relations
      </label>
    </div>
  </div>
  <br />
</div>