<div>
  <h4>Additional data</h4>
  <div class="btn-group btn-group-justified" data-toggle="buttons">
    <label class="btn btn-primary active">
      <input type="radio" name="entries" id="toggle-entries" autocomplete="off">Entries
    </label>
    <label class="btn btn-primary">
      <input type="radio" name="out-rels" id="toggle-out-rels" autocomplete="off">Outgoing Relations
    </label>
    <label class="btn btn-primary">
      <input type="radio" name="in-rels" id="toggle-in-rels" autocomplete="off">Incoming Relations
    </label>
  </div>
</div>