<div *ngIf="term">
  <br />

  <div>
    <h1>{{ term.term }}</h1>
    <h3>eid: {{ term.eid }}</h3>
  </div>
  <br />

  <div *ngIf="term.def.length > 0" data-target="#def-list-container" data-toggle="collapse" data-group-id="parent" data-role="expander">
    <h4>Definitions</h4>
    <a href="">show/hide</a>
    <div class="collapse" id="def-list-container" aria-expanded="true">
      <ul class="list-group collapse" id="def-list" aria-expanded="true">
        <li class="list-group-item" *ngFor="let definition of term.def"> {{ definition }} </li>
      </ul>
    </div>
  </div>
  <br />

  <div data-target="#rel-table-container" data-toggle="collapse" data-group-id="parent" data-role="expander">
    <h4>Relation types</h4>
    <a href="">show/hide</a>
    <div class="table-responsive collapse" id="rel-table-container" aria-expanded="true">
      <table class="table table-striped w-100 d-block d-md-table">
        <thead class="thead-dark">
          <tr>
            <th>rt</th>
            <th>rtid</th>
            <th>rtname</th>
            <th>rtgpname</th>
            <th>rthelp</th>
          </tr>
        </thead>
        <tr *ngFor="let relType of term.relTypes">
          <td> {{ relType.rt }} </td>
          <td> {{ relType.rtid }} </td>
          <td> {{ relType.rtname }} </td>
          <td> {{ relType.rtgpname }} </td>
          <td> {{ relType.rthelp }} </td>
        </tr>
      </table>
    </div>
  </div>
  <br />

  <div data-target="#node-table-container" data-toggle="collapse" data-group-id="parent" data-role="expander">
    <h4>Node types</h4>
    <a href="">show/hide</a>
    <div class="table-responsive collapse" id="node-table-container" aria-expanded="true">
      <table class="table table-striped w-100 d-block d-md-table">
        <thead class="thead-dark">
          <tr>
            <th>nt</th>
            <th>ntid</th>
            <th>ntname</th>
          </tr>
        </thead>
        <tr *ngFor="let nodeType of term.nodeTypes">
          <td> {{ nodeType.nt }} </td>
          <td> {{ nodeType.ntid }} </td>
          <td> {{ nodeType.ntname }} </td>
        </tr>
      </table>
    </div>
  </div>
</div>