<div class="sk-cube-grid" *ngIf="loading">
  <div class="sk-cube sk-cube1"></div>
  <div class="sk-cube sk-cube2"></div>
  <div class="sk-cube sk-cube3"></div>
  <div class="sk-cube sk-cube4"></div>
  <div class="sk-cube sk-cube5"></div>
  <div class="sk-cube sk-cube6"></div>
  <div class="sk-cube sk-cube7"></div>
  <div class="sk-cube sk-cube8"></div>
  <div class="sk-cube sk-cube9"></div>
</div>

<div *ngIf="term">
  <br />
  <div>
    <h1>{{ term.term }}</h1>
    <h3>eid: {{ term.eid }}</h3>
  </div>
  <br />

  <div *ngIf="term.def.length > 0" data-target="#def-list-container" data-toggle="collapse" data-group-id="parent" data-role="expander">
    <h4>Definitions</h4>
    <a href="">show/hide</a>
    <div class="collapse" id="def-list-container" aria-expanded="true">
      <ul class="list-group collapse" id="def-list" aria-expanded="true">
        <li class="list-group-item" *ngFor="let definition of term.def"> {{ definition }} </li>
      </ul>
    </div>
  </div>
  <br />

  <div>
    <h4>Details</h4>
    <div class="btn-group btn-group-justified">
      <button type="button" class="btn btn-outline-secondary">Node types</button>
      <button type="button" class="btn btn-outline-secondary">Relation types</button>
    </div>
  </div>
  <br />

  <app-term-collections></app-term-collections>

</div>